[Desktop Entry]
Encoding=UTF-8
Name=gDeskCal
Name[pl]=gDeskCal
Comment=Desktop calendar
Exec=gdeskcal
Icon=gnome-calendar.png
Terminal=false
Type=Application
Categories=GTK;Application;Calendar;
# vi: encoding=utf-8
