[Desktop Entry]
Name=gDeskCal
Name[pl]=gDeskCal
Comment=Desktop calendar
Exec=gdeskcal
Icon=gnome-calendar
Terminal=false
Type=Application
Categories=GTK;Office;Calendar;
# vi: encoding=utf-8
